/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Muli', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Rokkitt', serif;
font-family: 'Enriqueta', serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'B612', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Amaranth', sans-serif;
font-family: 'Rosario', sans-serif;
font-family: 'Cherry Swash', cursive;
font-family: 'Nova Oval', cursive;
rgb(236, 174, 147);
*/

/* USE MEDIA QUERIES TO UPDATE MARGIN BOTTOM so little image isn't cut off! */

html {
    height: 100%;
    background-color:rgb(184, 184, 184);
    overflow: hidden;
}

body {
    margin: 0;
    background: linear-gradient(to bottom,rgb(108, 193, 173)5%, rgb(184, 184, 184));
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/* MOBILE ===================================================================== */

/* TABLET Portrait ============================================================ */

/* TABLET Landscape =========================================================== */

/* DESKTOP ==================================================================== */
nav {
    background-color: rgb(108, 193, 173);
    width: 100%;
    height: 3.25rem;
    position: fixed;
    top: 0;   
}

.menu {
    list-style: none;
    position: absolute;
    right: 0;
    font-family: 'Amaranth', sans-serif;
    color: rgb(23, 23, 23);
}

li {
    display: inline;
    padding: 0.5rem 1rem;
    margin-right: 1rem;   
}

li:hover {
    background-color: rgb(159, 155, 238);
    cursor: pointer;
}

li:active{
    background-color: rgb(159, 155, 238);
}

.focus{
    background-color: rgb(159, 155, 238);
}

.main-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.25rem
}

.main-wrapper p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 13pt;
    color: rgb(23, 23, 23)
}

.side-bar {
    box-sizing: border-box;
    width: 13rem;
    height: auto;
    margin: 1rem 1rem 1rem 2rem;
    padding: 0.75rem;
    align-self: center;
    color: rgb(23, 23, 23)
}

.side-bar span {
    font-family: 'Amaranth', sans-serif;
    font-style: bold;
    padding: 0.5rem 1rem;
    background-color:  rgb(159, 155, 238);
    color: rgb(23, 23, 23)
}

.side-bar p{
    font-style: italic;
    font-size: 11pt;
    color: rgb(23, 23, 23)
}

.viewer {
    min-width: 40rem;
    height: 90vh;
    margin: 0 1rem;
    padding: 0.5rem;
    align-self: flex-end;
    overflow: scroll;
    background: linear-gradient(to bottom,rgb(222, 222, 222), rgb(184, 184, 184));
}

.content {
    padding: 1rem;
    width: 37rem;
    /* align-self: center; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drawing {
    display: none;
}

.b-r-corner {
    width: 13rem;
    height: 2rem;
    align-self: flex-end;
    margin: 1rem 2rem 2rem 1rem;
    text-align: right;
    font-family: 'Muli', sans-serif;;
}

/* project display CSS -------------------------------------------------------------- */

.project {
    margin-bottom: 1rem;
}

.title {
    font-family: 'Amaranth', sans-serif;
    font-size: 18pt;
    color: rgb(23, 23, 23);
    
}

.project-image {
    width: 38rem;
    margin: 0.5rem 0;
}

.project-info {
    padding: 0.5rem;
    color: rgb(23, 23, 23);
}

.link-box {
    font-family: 'Muli', sans-serif;
    margin: 0.5rem;
}

.link-box a {
    background-color:  rgb(108, 193, 173);
    text-decoration: none;
    color: rgb(23, 23, 23); 
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
}

.link-box a:hover{
    /* text-decoration: underline; */
    color: rgb(107, 102, 198);
}

/* about display CSS -------------------------------------------------------------- */


.bio-pic {
    width: 19rem;
    margin: 1rem auto;
    border-radius: 50%;
    align-self: center;
}

.bio, .edu, .extra{
    text-align: center;
    margin: 0.5rem;
}

.bio-links i {
    font-size: 22pt;
    padding: 1rem;
}

.bio-links a {
    text-decoration: none;
    color:  rgb(108, 193, 173);
}

.bio-links a:hover {
    color: rgb(159, 155, 238)
}

/* skills page -------------------------------------------------------> */

.skills-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30rem;
    color: rgb(64, 177, 151);
    font-size: 32pt;
    padding: 1rem;
    margin: 2rem; 
    opacity: 0.7;
    border: 2px dashed rgb(159, 155, 238);
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.skill-icon:hover{
    color:  rgb(108, 193, 173);
}

.skill-icon p{
    font-size: 11pt;
}

.soft-skills {
    text-align: center;
}

